$desktopPoint: 1440px;
$mobilePoint: 480px;

$white: #ffffff;
$black: #000000;
$blue: #3877EE;
$pink: #EF5DA8;
$blackBlue: #42567A;

$defaultFontFamily: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 16px;

$defaultBackgroundColor: #f4f5f8;
$defaultTextColor: $blackBlue;
$defaultLineHeight: 1.2;