$padding: 80px;

.mainContainer {
    padding: 100px 80px 40px;
    position: relative;
    width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}

.title {
    position: absolute;
    font-weight: 700;
    font-size: 56px;
    width: 350px;

    &:before {
        position: absolute;
        display: block;
        content: '';
        top: 16px;
        bottom: 16px;
        left: -$padding;
        width: 5px;
        background-color: aqua;

    }
}