@import '../../styles/vars';

.slideWrap {
    min-height: 200px;
    background-color: aqua;
}

.period {

}

.circle {

}

.firstDate {
    color: $blue;
}

.secondDate {
    color: $pink;
}

.title {

}