@use '../../styles/vars' as *;

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    user-select: none;
}

.circle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 530px;
    height: 530px;
    border: 1px solid rgba($blue, .2);
    border-radius: 50%;
}

.button {
    position: absolute;
    padding: 10px;
    box-sizing: content-box;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.dot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: $blackBlue;
    border-radius: 50%;
}

.number {
    width: 56px;
    height: 56px;
}