@use '../../styles/vars' as *;

.wrap {
    height: 530px;
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    user-select: none;
}

.circle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 530px;
    height: 530px;
    border: 1px solid rgba($blackBlue, .2);
    border-radius: 50%;
}

.button {
    position: absolute;
    padding: 10px;
    box-sizing: content-box;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &:hover {
        .dot {
            opacity: 0;
            transform: translate(-50%, -50%) scale(9.3);
        }
    }
}

.dot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: $blackBlue;
    border-radius: 50%;
    opacity: 1;
    transform-origin: 50% 50%;
    transition: opacity .5s, transform .3s;
}

.number {
    width: 56px;
    height: 56px;
    font-size: 20px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba($blackBlue, .5);
}