$desktopPoint: 1024px;
$mobilePoint: 480px;

$white: #ffffff;
$black: #000000;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 16px;

$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;