$desktopPoint: 1440px;
$mobilePoint: 768px;

$white: #ffffff;
$black: #000000;
$blue: #3877ee;
$pink: #ef5da8;
$blackBlue: #42567a;

$defaultFontFamily: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 16px;

$defaultBackgroundColor: #f4f5f8;
$defaultTextColor: $blackBlue;
$defaultLineHeight: 1.2;
