@use '../../styles/vars' as *;

.period {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 800px;
    font-size: 200px;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 20px;
    user-select: none;
    letter-spacing: -2%;
}

.firstDate {
    color: $blue;
}

.secondDate {
    color: $pink;
}