@import '../../styles/mixins';
@import '../../styles/vars';

.period {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 72px;
    font-size: 200px;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 20px;
    user-select: none;

    @include Tablet() {
        top: calc(240px + 1vw);
        width: 100%;
        font-size: 15vw;
    }
    
    @include Mobile() {
        position: static;
        padding: 60px 20px 20px;
        font-size: 56px;
    }
}

.firstDate {
    color: $blue;
}

.secondDate {
    color: $pink;
}