@import '../../styles/mixins';
@import '../../styles/vars';

.period {
  position: absolute;
  z-index: 2;
  top: 300px;
  left: 50%;
  display: flex;
  justify-content: center;
  gap: 72px;
  padding-bottom: 20px;
  font-size: 200px;
  line-height: 1;
  font-weight: 700;
  transform: translateX(-50%);
  user-select: none;

  @include Tablet() {
    top: 30vw;
    width: 100%;
    font-size: 15vw;
  }

  @include Mobile() {
    position: static;
    padding: 60px 0 70px;
    justify-content: flex-start;
    gap: 34px;
    margin-bottom: 16px;
    font-size: 56px;
    border-bottom: 1px solid rgba($blackBlue, 0.2);
    transform: none;
  }
}

.firstDate {
  color: $blue;
}

.secondDate {
  color: $pink;
}
