@import '../../styles/vars';
@import '../../styles/mixins';

$btnSize: 50px;
$btnSizeMob: 25px;

.wrap {
  position: relative;
  margin-top: -20px;
  margin-bottom: 36px;
}

.slideWrap {
  min-height: 80px;
  padding-bottom: 30px;
}

.pages {
  $fontSize: 14px;
  position: absolute;
  bottom: calc($btnSize + $fontSize + 30px);
  font-size: $fontSize;
  line-height: 1;
  text-align: left;
}

:global(.swiper-button-prev) {
  top: calc(100% - $btnSize) !important;
  left: 0 !important;
  width: $btnSize !important;
  height: $btnSize !important;
  color: $blackBlue !important;
  border: 1px solid rgba($blackBlue, 0.5);
  border-radius: 50%;

  @include Mobile() {
    top: calc(100% - $btnSizeMob) !important;
    z-index: 20 !important;
    width: $btnSizeMob !important;
    height: $btnSizeMob !important;
  }
}

:global(.swiper-button-prev::after) {
  font-size: 12px !important;

  @include Mobile() {
    font-size: 10px !important;
  }
}

:global(.swiper-button-next) {
  top: calc(100% - $btnSize) !important;
  right: calc(100% - (2 * $btnSize + 20px)) !important;
  width: $btnSize !important;
  height: $btnSize !important;
  color: $blackBlue !important;
  border: 1px solid rgba($blackBlue, 0.5);
  border-radius: 50%;

  @include Mobile() {
    top: calc(100% - $btnSizeMob) !important;
    right: calc(100% - (2 * $btnSizeMob + 10px)) !important;
    z-index: 20 !important;
    width: $btnSizeMob !important;
    height: $btnSizeMob !important;
  }
}

:global(.swiper-button-next::after) {
  font-size: 12px !important;

  @include Mobile() {
    font-size: 8px !important;
  }
}

:global(.swiper-pagination) {
  top: 10px !important;
}

:global(.swiper-pagination-bullet) {
  background: rgba($blackBlue, 0.4) !important;
  width: 6px !important;
  height: 6px !important;
  margin: 0 5px 4px !important;
}

:global(.swiper-pagination-bullet-active) {
  background: rgba($blackBlue, 1) !important;
}
